<div class="container">
    <h2>About us</h2>

    <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam id cumque dolore facilis repellendus!
            Iusto impedit laboriosam quaerat consequatur explicabo reiciendis eos saepe quisquam tempore, aperiam illum
            magni? Quis.
        </p>
    </div>


    <div class='para'>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam id cumque dolore facilis repellendus!
            Iusto impedit laboriosam quaerat consequatur explicabo reiciendis eos saepe quisquam tempore, aperiam illum
            magni? Quis.
        </p>
    </div>

    <div class='para'>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam id cumque dolore facilis repellendus!
            Iusto impedit laboriosam quaerat consequatur explicabo reiciendis eos saepe quisquam tempore, aperiam illum
            magni? Quis.
        </p>
    </div>
</div>